<div id="aboutUs" class="container about">

  <div class="d-flex justify-content-center">
    <div class="break"></div>
  </div>

  <h1 class="title">About Us</h1>
  <p class="subtitle">
    <strong>No experience? No problem.</strong>
  </p>

  <p class="about-text">
    Expert or beginner, we are here to help you learn.
    Our goal is to provide helpful resources and solutions for web development.
    All UNC Chapel Hill students are welcome to apply.
  </p>

  <div class="row">
   
    <div class="col">
      <div class="pillar">
        <i class="fas fa-edit"></i>
      </div>
      <p><strong>Design</strong></p>
      <p>
        All websites start here. You need an idea of what you're going to build before you can
        build it. We use an ensemble of tools to design our website's pages and styling.
        Projects have used Adobe Creative Suite, Figma and more. 
      </p>
    </div>

    <div class="col">
      <div class="pillar">
        <i class="fas fa-code"></i>
      </div>
      <p><strong>Develop</strong></p>
      <p>
        Experience web development with some of the most modern frameworks, techniques and 
        tools. Projects have used technologies such as Angular, React, MongoDB,
        Express and more.
      </p>
    </div>

    <div class="col">
      <div class="pillar">
        <i class="fas fa-tasks"></i>
      </div>
      <p><strong>Test</strong></p>
      <p>
        Almost all programs contain errors the first time its built. Thats why we test all
        of our projects. We use up to date testing methodologies to ensure we are developing
        quality products. 
      </p>
    </div>

    <div class="col">
      <div class="pillar">
        <i class="fas fa-cogs"></i>
      </div>
      <p><strong>Maintain</strong></p>
      <p>
        The operations of a website. To guarantee a long lived product, we host and maintain
        our websites on realiable systems. It is important to monitor and regularly deploy stable versions 
        of a project's code.
      </p>
    </div>
    
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
