<html>
    <head>

        <link rel="stylesheet" href="about-us.component.css">
        <title>About Us</title>
    </head>
    <body>


<div class="container">
<a name="aboutUs"></a>
<!-- // <div class = "text-center" style = "font-family: Montserrat;" style = "font-size: 45px;" style = "font-weight: bold;" style="font-size: 45px;"> -->
<h1 class="title">About Us</h1>

<div class="text-center" style = "font-family: Lato;" style = "font-weight: 500;" style = "font-style: normal;" style ="font-size: 20px;">
  <p>
    <b>No experience? No problem. </b> <br>
    Expert or beginner, we are here to help you learn. <br>
    Our goal is to provide helpful resources and solutions for web development.<br>
    All UNC Chapel Hill students are welcome to apply.<br>
    <b>Founded in 2020.</b>
  </p>
</div>

<div class="row" style="align-content: center;" >
  <div class="column">
    <img src='assets/images/Design.png' style="width:50%" style = "align-content: center" style = "padding-bottom: 30px;">
      <p><b>Design</b></p>
      <p>All websites start here. You need an idea of what you're going to build before you can
        build it. We use an ensemble of tools to design our website's pages and styling.
        Projects have used Adobe Creative Suite, Figma and more. 
      </p>
  </div>

  <div class="column">
    <img src='assets/images/Develop.png' style="width:50%" style = "align-content: center" style = "padding-bottom: 30px;">
    <p><b>Develop</b></p>
    <p>Experience web development with some of the most modern frameworks, techniques and 
      tools. Projects have used technologies such as Angular, React, MongoDB,
      Express and more.
    </p>
  </div>

  <div class="column">
    <img src='assets/images/Test.png' style="width:50%" style = "align-content: center" style = "padding-bottom: 30px;">
    <p><b>Test</b></p>
    <p>Almost all programs contain errors the first time its built. Thats why we test all
      of our projects. We use up to date testing methodologies to ensure we are developing
      quality products.
    </p>
  </div>

  <div class="column">
    <img src='assets/images/Maintain.png' style="width:50%" style = "align-content: center" style = "padding-bottom: 30px;">
    <p><b>Maintain</b></p>
    <p>The operations of a website. To guarantee a long lived product, we host and maintain
      our websites on realiable systems. It is important to monitor and regularly deploy stable versions 
      of a project's code.
    </p>
    </div>
  </div>
</div>

  </body>
</html>
