<html>
    <head>

        <link rel="stylesheet" href="about-us.component.css">
        <title>About Us</title>
    </head>
    <body>

<div class="container-fluid">

<div class = "text-center" style = "font-family: Montserrat;" style = "font-size: 45px;" style = "font-weight: bold;" style="font-size: 45px;">
    <h1>About Us</h1>
</div>

<div class="text-center" style = "font-family: Lato;" style = "font-weight: 500;" style = "font-style: normal;" style ="font-size: 30px;">
  <p>
    Expert or beginner, we are here to help you learn. <br>
    No experience? No problem. <br>
    Our goal is to provide helpful resources and solutions for web development.
    All<p class="text-info">UNC Chapel Hill<p>students are welcome to apply.<br>
    Founded in 2020.
  </p>
</div>
<div class="container">
  <div class="row" >
    <div class="col align-self-start">
      <div class="design">
        Design
      </div>
      </div>
    <div class="col align-self-center">
      <div class="develop">
        Develop
      </div>
      </div>
    <div class="col align-self-center">
      <div class="test">
        Test
      </div>
      </div>
    <div class="col align-self-end">
      <div class="maintain">
        Maintain
      </div>
      </div>
  </div>
</div>
</div>
  </body>
</html>
