#eventDate {
    background-color: #5262AD;
    border-radius: 20px;
}

#day {
    align-items: center;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

#month {
    align-items: center;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.event {
    background-color: #EFEFF6;
    border: 2px solid #5262AD;
    border-radius: 30px;
}

#eventBackground {
    background-color: white;
}