#eventDate {
    background-color: #5262AD;
    border-radius: 20px;
}

#day {
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

#month {
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.event {
    background-color: #EFEFF6;
    /* border: 2px solid #5262AD; */
    border-radius: 30px;
}

#eventBackground {
    background-color: white;
}

.margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 1em;
}

.break {
    display: none;
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 30px;
    }
    #day {
        font-size: 33px;
        line-height: 33px;
        padding-top: 5px;
    }
    #month {
        font-size: 25px;
        line-height: 25px;
    }
    #eventDate {
        line-height: 10px;
    }
    .eventInfo {
        padding: 0px 20px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #day {
        font-size: 33px;
        line-height: 33px;
        padding-top: 5px;
    }
    #month {
        font-size: 25px;
        line-height: 25px;
    }
}

@media screen and (max-width: 992px) {
    #eventsContainer {
        margin-top: 0px !important;
    }
    .break {
        display: inline-block;
    }
}

.break {
    width: 75%;
    height: 10px;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #DD579E, #945DA6);
    opacity: 0.75;
    margin-bottom: 50px;
  }

