#eventDate {
    background-color: #5262AD;
}

#day {
    align-items: center;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

#month {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.event {
    background-color: #FFFFFF;
    border: 2px solid #5262AD;
    border-radius: 30px;
}

#eventBackground {
    background-color: white;
}