body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

input, textarea {
  border: 2px solid #5262AD;
}
.secondaryContainer {
  padding-left: 100px;
  text-align: left;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  margin: 20px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}

.subsubtitle {
  font-size: 18px;
  margin: 30px;
}
.project {
  size: 20%;
  width: 20%;
  margin-bottom: 20px;
}

.small {
  padding-bottom: 30%;
  size: 20%;
}

.medium {
  padding-bottom: 80%;
  size: 20%;
}

.large {
  padding-bottom: 100%;
}

#contactLink {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 17px;
}

.serviceBtn {
  background-color: white;
  border: 2px solid #5262AD;
  border-radius: 10%;
}

.active {
  background-color:#945DA6;
  color: white;
}

.contact-icon {
  cursor: pointer;
}

.contact-icon:hover {
  text-decoration: none;
  color: inherit;
}

.down {
  position: relative;
  top: 13px;
}

.contact-form {
  text-align: left;
  background-color: white;
  padding: 5%;
  border-radius: 25px;
}

.contact {
  font-family: 'Lato', sans-serif;
  background-color: #BB5AA2;
  color: white;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}

.contact:hover {
  background-color: #944781;
  color: white;
}

.icon {
  color: rgb(65,76,157);
  font-size: 150%;
}

.typeIcon {
  font-size: 240%;
  color: black;
}

#memberImg {
  color: rgb(65,76,157);
}