<div class="bg">
    <div class="body">
        <div class="container">
            <h1 class="title">Inquiries</h1>
            <div class="row">
                <button id="all" type="button" class="formToggle filter my-1" data-toggle="button" aria-pressed="false" autocomplete="off">
                    All
                </button>
                <button id="memberForm" type="button" class="formToggle filter my-1" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Student
                </button>
            
                <button id="clientForm" type="button" class="formToggle filter my-1" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Client
                </button>
                <button id="generalForm" type="button" class="formToggle filter my-1" data-toggle="button" aria-pressed="false" autocomplete="off">
                    General
                </button>
            </div>

            <div class="row form">
                <ng-container *ngIf="this.display === 'all'">
                    <ng-container *ngFor="let memberForm of memberForms">
                        <div class="col-lg-4">
                            <div class="inquiry">
                                <h5>{{memberForm.firstName}} {{memberForm.lastName}}</h5>
                                <h6 class="text-muted">Student</h6>
                                <p>{{memberForm.message}}</p>
                                <p class="text-muted">{{memberForm.email}}</p>
                                <p class="icon"><i class="fas fa-user-graduate"></i><span>Student</span></p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let clientForm of clientForms">
                        <div class="col-lg-4">
                            <div class="inquiry">
                                <h5>{{clientForm.name}}</h5>
                                <h6 class="text-muted">{{clientForm.business}}</h6>
                                <p>{{clientForm.message}}</p>
                                <p class="text-muted">{{clientForm.email}}</p>
                                <button class="text-capitalize btn service">{{clientForm.service}}</button>
                                <p class="icon mt-3"><i class="fas fa-briefcase"></i><span>Client</span></p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let generalForm of generalForms">
                        <div class="col-lg-4">
                            <div class="inquiry">
                                <h5>{{generalForm.name}}</h5>
                                <h6 class="text-muted">{{generalForm.affiliation}}</h6>
                                <p>{{generalForm.message}}</p>
                                <p class="text-muted">{{generalForm.email}}</p>
                                <p class="icon"><i class="fas fa-question-circle"></i><span>General</span></p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                
                <ng-container *ngIf="this.display === 'memberForm'">
                        <ng-container *ngFor="let memberForm of memberForms">
                            <div class="col-lg-4">
                                <div class="inquiry">
                                    <h5>{{memberForm.firstName}} {{memberForm.lastName}}</h5>
                                    <h6 class="text-muted">Student</h6>
                                    <p>{{memberForm.message}}</p>
                                    <p class="text-muted">{{memberForm.email}}</p>
                                    <p class="icon"><i class="fas fa-user-graduate"></i><span>Student</span></p>
                                </div>
                            </div>
                        </ng-container>
                </ng-container>
                
                <ng-container *ngIf="this.display === 'clientForm'">
                        <ng-container *ngFor="let clientForm of clientForms">
                            <div class="col-lg-4">
                                <div class="inquiry">
                                    <h5>{{clientForm.name}}</h5>
                                    <h6 class="text-muted">{{clientForm.business}}</h6>
                                    <p>{{clientForm.message}}</p>
                                    <p class="text-muted">{{clientForm.email}}</p>
                                    <button class="text-capitalize btn service">{{clientForm.service}}</button>
                                    <p class="icon mt-3"><i class="fas fa-briefcase"></i><span>Client</span></p>
                                </div>
                            </div>
                        </ng-container>
                </ng-container>
    
                <ng-container *ngIf="this.display === 'generalForm'">
                        <ng-container *ngFor="let generalForm of generalForms">
                            <div class="col-lg-4">
                                <div class="inquiry">
                                    <h5>{{generalForm.name}}</h5>
                                    <h6 class="text-muted">{{generalForm.affiliation}}</h6>
                                    <p>{{generalForm.message}}</p>
                                    <p class="text-muted">{{generalForm.email}}</p>
                                    <p class="icon"><i class="fas fa-question-circle"></i><span>General</span></p>
                                </div>
                            </div>
                        </ng-container>
                </ng-container>
            </div>
            
            
        </div>
    </div>
</div>