<br>
<br>
<br>
<br>
<br>
<div class="row">
    <button id="memberForm" type="button" class="formToggle btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Member Form
    </button>
    <button id="clientForm" type="button" class="formToggle btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Client Form
    </button>
    <button id="generalForm" type="button" class="formToggle btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        General Form
    </button>
</div>
<ng-container *ngIf="this.display === 'memberForm' || this.display === 'all'">
    <div class="row">
        <ng-container *ngFor="let memberForm of memberForms">
            <div class="col-3 bg-light mr-1 ml-1 mt-1 mb-1">
                <h3>{{memberForm.firstName}} {{memberForm.lastName}}</h3>
                <p>{{memberForm.email}}</p>
                <p>{{memberForm.message}}</p>
                <h3>Member</h3>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="this.display === 'clientForm' || this.display === 'all'">
    <div class="row">
        <ng-container *ngFor="let clientForm of clientForms">
            <div class="col-3 bg-light mr-1 ml-1 mt-1 mb-1">
                <h3>{{clientForm.name}}</h3>
                <p>{{clientForm.business}}</p>
                <p>{{clientForm.email}}</p>
                <p>{{clientForm.message}}</p>
                <p>{{clientForm.service}}</p>
                <h3>Client</h3>
            </div>
        </ng-container>
    </div>  
</ng-container>
<ng-container *ngIf="this.display === 'generalForm' || this.display === 'all'">
    <div class="row">
        <ng-container *ngFor="let generalForm of generalForms">
            <div class="col-3 bg-light mr-1 ml-1 mt-1 mb-1">
                <h3>{{generalForm.name}}</h3>
                <p>{{generalForm.affiliation}}</p>
                <p>{{generalForm.email}}</p>
                <p>{{generalForm.message}}</p>
                <h3>General</h3>
            </div>
        </ng-container>
    </div>
</ng-container>