.announcementsList {
    background-color: #EFEFF6 !important;
    /* border: 2px solid #5262AD; */
    border-radius: 30px;
    padding: 2em;
}

hr {
    border: 1px solid #5262AD;
}

.margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 1em;
  }

@media screen and (max-width: 576px) {
    #blurb {
        font-size: 160% !important;
    }
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    #announcementsContainer {
        margin-top: 0px !important;
    }
}