<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<head>
    <style>
        div{
            background-image: url('https://media.npr.org/assets/img/2016/06/03/1_blackmencode-reddingrucker_computer-edit_wide-9f1fbcd2af0a9ebdd4a081fe27ac1ea6bfb95256-s1600-c85.jpg');
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <nav class = "w3-bar">
        <a href = "#" class = "w3-button w3-bar-item">Web Dev Carolina</a>
        <a href = "#" class = "w3-button w3-bar-item">About Us</a>
        <a href = "#" class = "w3-button w3-bar-item">Testimonials</a>
    </nav>
    <button class="btn contact justify-content-end">Contact us</button>
</body>