<div class="container">
    <div class='upcoming-event-list'>
        <h2 class="text-center">Upcoming Events</h2>
        <div *ngFor="let upcomingEvent of upcomingEvents">
            <div class="container rounded bg-secondary mb-3">
                <div class="row">
                    <div class="col-lg-3">
                        <div id="eventDate" class="container rounded mt-3">
                            <p id="day">{{upcomingEvent.day}}</p>
                            <p id="month">{{upcomingEvent.month}}</p>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <h5>{{upcomingEvent.title}}</h5>
                        <h5>{{upcomingEvent.body}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
