<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div class="container">
    <nav id='white-nav' class="navbar navbar-expand-lg bg-white fixed-top shadow">

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand title" onclick="document.location.href='#home'">Web Dev Carolina</a>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item nav-style">
                    <a class="left" onclick="document.location.href='#aboutUs'">About us</a>
                </li>
                <li class="nav-item nav-style">
                    <a class="left" onclick="document.location.href='#testimonials'">Testimonials</a>
                </li>
                <li class="nav-item nav-style">
                    <a class="left" onclick="document.location.href='#projects'">Projects</a>
                </li>
                <li class="nav-item nav-style">
                    <a class="left" routerLink="signIn">Sign In</a>
                </li>
            </ul>
        </div>

        <a onclick="document.location.href='#contactUs'"><button class="btn contact justify-content-end" id="smallContact"><i class="far fa-envelope"></i></button></a>
        <a onclick="document.location.href='#contactUs'"><button class="btn contact justify-content-end" id="largeContact">Contact</button></a>

        <!-- Collapsible Navbar links -->
        <div id="collapsibleNavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item nav-style">
                <a class="left" onclick="document.location.href='#aboutUs'">About us</a>
            </li>
            <li class="nav-item nav-style">
                <a class="left" onclick="document.location.href='#testimonials'">Testimonials</a>
            </li>
            <li class="nav-item nav-style">
                <a class="left" onclick="document.location.href='#projects'">Projects</a>
            </li>
            <li class="nav-item nav-style">
                <a class="left" routerLink="signIn">Sign In</a>
            </li>
        </ul>
        </div>

    </nav>
</div>