<body>
    <div class="body">
        <form id="newProjectForm">
            <label for="newProjectName">Name:</label>
            <input type="text" id="newProjectName" name="newProjectName"><br>
            <label for="newProjectClient">Client:</label>
            <input type="text" id="newProjectClient" name="newProjectClient"><br>
            <label for="newProjectDesc">Description:</label>
            <input type="text" id="newProjectDesc" name="newProjectDesc"><br>
            <label for="newProjectMeet">Meet:</label>
            <input type="text" id="newProjectMeet" name="newProjectMeet"><br>
            <label for="newProjectGithub">Github:</label>
            <input type="text" id="newProjectGithub" name="newProjectGithub"><br>
            <label for="newProjectZoom">Zoom:</label>
            <input type="text" id="newProjectZoom" name="newProjectZoom"><br>
            <label for="newProjectType">Type:</label>
            <input type="text" id="newProjectType" name="newProjectType"><br>
            <button class="btn btn-outline-primary">Submit</button>
        </form>
        <div class="row form">
            
            <ng-container *ngFor="let project of projects">
                <div class="col-lg-4">
                    <div class="project">
                        <h5>{{project.name}}</h5>
                        <h6>{{project.client}}</h6>
                        <p class="text-muted">{{project.meet}}</p>
                        <p>{{project.desc}}</p>
                        <a (click)="goToLink([project.github])">Github</a><br>
                        <a (click)="goToLink([project.zoom])">Zoom (All of these are N/a atm)</a>
                        <br>
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" [attr.data-target]="'#editModal' + project._id">
                            Edit
                        </button>

                        <!-- edit modal -->
    
                        <div class="modal fade" [id]="'editModal' + project._id" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <div aria-hidden="true">&times;</div>
                                        </button>
                                        <div class="edit-form">
                                            <div class="row">
                                                <div class="col-lg">
                                                    <label for="nameInput">Name</label>
                                                    <input type="text" class="form-control" [id]="'nameInputEditEvent' + project._id" value={{project.name}}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <label for="clientInput">Client</label>
                                                    <input type="text" class="form-control" [id]="'clientInputEditEvent' + project._id" value={{project.client}}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <label for="nameInput">Description</label>
                                                    <input type="text" class="form-control" [id]="'descInputEditEvent' + project._id" value={{project.desc}}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <label for="nameInput">Meeting</label>
                                                    <input type="text" class="form-control" [id]="'meetInputEditEvent' + project._id" value={{project.meet}}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <label for="gitInput">GitHub</label>
                                                    <input type="text" class="form-control" [id]="'gitInputEditEvent' + project._id" value={{project.github}}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg">
                                                    <label for="zoomInput">Zoom</label>
                                                    <input type="text" class="form-control" [id]="'zoomInputEditEvent' + project._id" value={{project.zoom}}>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container d-flex justify-content-center">
                                                    <button data-title={{project._id}} class="btn btn-outline-danger delete delete-event" data-dismiss="modal">Delete</button>
                                                    <button data-title={{project._id}} class="btn btn-outline-primary save save-event" data-dismiss="modal">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- modal -->

                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</body>
