<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<body>
  <div id="offContainer" class="container">
    <h1 class="title">Contact Us</h1>
    <div class="row">
      <div class="col-lg">
        <div class="container">
          <p class="subtitle">Get In Touch!</p>
          <p class = "subsubtitle">Interested in Wed Dev Carolina or have any questions for us? Fill out this form and we’ll get back to you soon.</p>
          <p class="subtitle">Our social channels</p>
          <div class="row mb-4">
            <div class="col col-lg-2">
              <a href="https://www.instagram.com/webdevcarolina/" target="_blank">
                <img src="assets/images/insta.png">
              </a>
            </div>
            <div class="col-md-auto">
              <p id="contactLink">@webdevcarolina</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col col-lg-2">
              <a href="https://www.linkedin.com/company/web-dev-carolina/" target="_blank">
                <img src="assets/images/linkedin.png">
              </a>
            </div>
            <div class="col-md-auto">
              <p id="contactLink">https://www.linkedin.com/company/ web-dev-carolina/</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col col-lg-2">
              <a href="https://github.com/web-dev-carolina" target="_blank">
                <img src="assets/images/github.png">
              </a>
            </div>
            <div class="col-md-auto">
              <p id="contactLink">@webdevcarolina</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col col-lg-2">
              <a>
                <img src="assets/images/email.png">
              </a>
            </div>
            <div class="col-md-auto">
              <p id="contactLink">webdevcarolina@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <form>
          <div class="form-row">
            <a href="#">
              <img src="assets/images/members.png">
              <div class="project medium">
                <div class="text">
                  <span class="name">Potential Member</span>
                </div>
              </div>
            </a>
            <a href="#">
              <img src="assets/images/client.png">
              <div class="project medium">
                <div class="text">
                  <span class="name">Potential Client</span>
                </div>
              </div>
            </a>
            <a href="#">
              <img src="assets/images/questions.png">
              <div class="project medium">
                <div class="text">
                  <span class="name">General Inquires</span>
                </div>
              </div>
            </a>
            <div class="form-group col-md-6">
              <label for="inputFirstName">First name</label>
              <input type="email" class="form-control" id="inputFirstName" placeholder="Jane">
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Last name</label>
              <input type="password" class="form-control" id="inputLastName" placeholder="Doe">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="inputMessage" rows="3" placeholder="How do I get involved?"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
