<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="container">
          <h1 class="title">Contact Us</h1>
          <p class="subtitle">Get In Touch!</p>
          <p class = "subsubtitle">Interested in Wed Dev Carolina or have any questions for us? Fill out this form and we’ll get back to you soon.</p>
          <div class="row content">
            <div class="col-md">
              <a href="#">
                <div class="project medium members">
                  <div class="text">
                    <span class="name">Potential Member</span>
                    <br>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="project medium client">
                  <div class="text">
                    <span class="name">Potential Client</span>
                    <br>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="project medium questions">
                  <div class="text">
                    <span class="name">General Inquires</span>
                    <br>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md">
              <a href="#">
                <div class="project small insta">
                  <div class="text">
                    <span class="name">@webdevcarolina</span>
                    <br>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="project small linkedin">
                  <div class="text">
                    <span class="name">https://www.linkedin.com/company/web-dev-carolina/</span>
                    <br>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md">
              <a href="#">
                <div class="project small github">
                  <div class="text">
                    <span class="name">@webdevcarolina</span>
                    <br>
                  </div>
                </div>
              </a>
              <a href="#">
                <div class="project small email">
                  <div class="text">
                    <span class="name">webdevcarolina@gmail.com</span>
                    <br>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
    </div>
  </div>

</body>
