<div class="bg">
    <div class="body">
        <div class="container">
            <h1 class="title">Members</h1>
            <div class="row">
                <button autofocus id="add" type="button" class="memberToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Add
                </button>
                <button id="remove" type="button" class="memberToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Remove
                </button>
                <button id="edit" type="button" class="memberToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Edit
                </button>
            </div>
            <div class="row">
                <div class="col-5">
                    <ng-container *ngIf="this.display === 'add'">
                        <div class="container bg-white user-form col">
                            <div class="form">
                                <div class="row">
                                    <div class="col-md">
                                      <label for="fnameInput">First name</label>
                                      <input type="text" class="form-control" id="fnameInput">
                                    </div>
                                    <div class="col-md">
                                      <label for="lnameInput">Last Name</label>
                                      <input type="text" class="form-control" id="lnameInput">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                      <label for="emailInput">Email</label>
                                      <input type="text" class="form-control" id="emailInput">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                      <label for="placementInput">Team placement</label>
                                      <select class="form-control" id="placementInput">
                                          <option>Club Site</option>
                                          <option>Client 1</option>
                                          <option>Student Org 1</option>
                                          <option>Client 2</option>
                                          <option>Wherever members are needed</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container d-flex justify-content-center">
                                        <button id="createButton" class="button submit">Create Member</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.display === 'remove'">
                        <div class="container bg-white user-form">
                            <div class="form">
                                <div class="row text-center">
                                    <h4 class="title">Search members</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="fnameInput">First name (optional)</label>
                                        <input type="text" class="form-control" id="fnameInput">
                                      </div>
                                      <div class="col-md">
                                        <label for="lnameInput">Last Name (required)</label>
                                        <input type="text" class="form-control" id="lnameInput">
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="container d-flex justify-content-center">
                                        <button id="createButton" class="button submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.display === 'edit'">
                        <div class="container bg-white user-form">
                            <div class="form">
                                <div class="row text-center">
                                    <h4 class="title">Search members</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="fnameInput">First name (optional)</label>
                                        <input type="text" class="form-control" id="fnameInput">
                                      </div>
                                      <div class="col-md">
                                        <label for="lnameInput">Last Name (required)</label>
                                        <input type="text" class="form-control" id="lnameInput">
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="container d-flex justify-content-center">
                                        <button id="createButton" class="button submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    <ng-container *ngFor="let user of users">
                        <p>{{user.username}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>