<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<body id="projects">
  <div class="container">
    <a name="projects"></a>
    <h1 class="title">Projects</h1>
    <p class="subtitle">Take a look at some of the projects we've been working on for local businesses.</p>
    <a onclick="window.open('https://github.com/web-dev-carolina/education-fall2020','_blank')" target="_blank">
      <button class="btn edu">See educational materials</button>
    </a>
    <div class="row content">
      <div class="col-md">
        <a href="#">
          <div class="project large proj1">
            <div class="text">
              <span class="name">Carolina Homelessness Initiative</span>
              <br>
              <span class="desc">About is N/a</span>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="project small proj2">
            <div class="text">
              <span class="name">D&D Bros Trucking</span>
              <br>
              <span class="desc">About is N/a</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md">
        <a href="#">
          <div class="project small proj3">
            <div class="text">
              <span class="name">College Essays/Tutoring</span>
              <br>
              <span class="desc">About is N/a</span>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="project large proj4">
            <div class="text">
              <span class="name">UNC Behavioral Design</span>
              <br>
              <span class="desc">“A creative tech consulting group working 
                to develop intuitive programs and products given a fundamental 
                understanding of human psychology and user behavior”</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md">
        <a href="#">
          <div class="project medium proj5">
            <div class="text">
              <span class="name">Recyclery</span>
              <br>
              <span class="desc">The Recyclery is a non profit located in the 
                Chapel Hill/Carborro area. They help those in need refurbish bikes.</span>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="project medium proj6">
            <div class="text">
              <span class="name">Education?</span>
              <br>
              <span class="desc">About is N/a</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
