<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<a name="testimonials"></a>
<div id="offContainer" class="container-fluid">
  <h1 class="title text-center">Testimonials</h1>
  <p class="subtitle text-center">See what clients and club members have to say about us!</p>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <ng-container *ngFor="let testimonial of testimonials; index as i; first as isFirst">
          <div *ngIf="isFirst; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <li data-target="#carouselExampleCaptions" class="carIndic" data-slide-to="i" class="active"></li>
          </ng-template>
          <ng-template #elseBlock>
            <li data-target="#carouselExampleCaptions" class="carIndic" data-slide-to="i"></li>
          </ng-template>
        </ng-container>
      </ol>
      <div class="carousel-inner">
        <ng-container *ngFor="let testimonial of testimonials; first as isFirst;">
          <ng-container *ngIf="isFirst; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <div class="carousel-item active">
              <div id="crd" class="testimonial card w-25">
                <div class="card-body">
                  <i class="fas fa-quote-left"></i>
                  <p class="card-text">{{testimonial.body}}</p>
                  <h4 class="card-title"><strong>{{testimonial.title}}</strong></h4>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="carousel-item">
              <div id="crd" class="testimonial card w-25">
                <div class="card-body">
                  <i class="fas fa-quote-left"></i>
                  <p class="card-text">{{testimonial.body}}</p>
                  <h4 class="card-title"><strong>{{testimonial.title}}</strong></h4>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span id="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span id="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
</div>