<div class="bg">
    <div id="createDiv" class="body">
        <div class="container">
            <h1 class="title">Create</h1>
            <div class="row">
                <button autofocus id="upcomingEvent" type="button" class="createToggle toggle" data-toggle="button" aria-pressed="true" autocomplete="off">
                    Upcoming event
                </button>
                <button id="announcement" type="button" class="createToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Announcement
                </button>
                <button id="testimonial" type="button" class="createToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Testimonial
                </button>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form mr-4">
                        <ng-container *ngIf="this.display === 'upcomingEvent'">
                            <div class="container bg-white user-form col">
                                <div id="createForm" class="form">
                                    <div class="row">
                                        <div class="col-md-3">
                                          <label for="monthInput">Month</label>
                                          <input type="text" class="form-control" id="monthInput" placeholder="Dec">
                                        </div>
                                        <div class="col-md-3">
                                          <label for="dayInput">Day</label>
                                          <input type="text" class="form-control" id="dayInput" placeholder="11">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="titleInput">Title</label>
                                          <input type="text" class="form-control" id="titleInput" placeholder="Meeting">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="bodyInput">Body</label>
                                          <textarea type="text" class="form-control" id="bodyInput" placeholder="Meeting at 12:00 P.M."></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container d-flex justify-content-center">
                                            <button id="createButton" class="button submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.display === 'announcement'">
                            <div class="container bg-white user-form">
                                <div id="createForm" class="form">
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="titleInput">Title</label>
                                          <input type="text" class="form-control" id="titleInput" placeholder="Site Done">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="dateInput">Date</label>
                                          <input type="text" class="form-control" id="dateInput" placeholder="Dec. 3, 2020">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="bodyInput">Body</label>
                                          <textarea type="text" class="form-control" id="bodyInput" placeholder="The website is now done."></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container d-flex justify-content-center">
                                            <button id="createButton" class="button submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.display === 'testimonial'">
                            <div class="container bg-white user-form">
                                <div id="createForm" class="form">
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="titleInput">Author</label>
                                          <input type="text" class="form-control" id="titleInput" placeholder="Jonny Smith">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <label for="bodyInput">Body</label>
                                            <textarea type="text" class="form-control" id="bodyInput" placeholder="Web Dev Carolina is a good club."></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container d-flex justify-content-center">
                                            <button id="createButton" class="button submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ng-container *ngIf="this.display === 'upcomingEvent'">
                        <h1 class="toggle-title">Upcoming Events</h1>
                        <div class="scroll">
                            <ng-container *ngFor="let upcomingEvent of upcomingEvents">
                                <div class="row bg-white event">
                                    <div class="col-lg-3">
                                        <div class="col container mt-3 eventDate">
                                            <p class="day">{{upcomingEvent.day}}</p>
                                            <p class="month">{{upcomingEvent.month}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-auto pt-3 eventInfo">
                                        <h5 class="event-title">{{upcomingEvent.title}}</h5>
                                        <h6>{{upcomingEvent.body}}</h6>

                                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#editModal">
                                            Edit
                                        </button>

                                        <!-- edit modal -->
                    
                                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <div aria-hidden="true">&times;</div>
                                                        </button>
                                                        <div class="edit-form">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                <label for="monthInput">Month</label>
                                                                <input type="text" class="form-control" id="monthInput" placeholder="Dec">
                                                                </div>
                                                                <div class="col-md-3">
                                                                <label for="dayInput">Day</label>
                                                                <input type="text" class="form-control" id="dayInput" placeholder="11">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg">
                                                                <label for="titleInput">Title</label>
                                                                <input type="text" class="form-control" id="titleInput" placeholder="Meeting">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg">
                                                                <label for="bodyInput">Body</label>
                                                                <textarea type="text" class="form-control" id="bodyInput" placeholder="Meeting at 12:00 P.M."></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="container d-flex justify-content-center">
                                                                    <button class="btn btn-outline-danger">Delete</button>
                                                                    <button class="btn btn-outline-primary">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- modal -->

                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.display === 'announcement'">
                        <h1 class="toggle-title">Announcements</h1>
                        <div class="scroll">
                            <ng-container *ngFor="let announcement of announcements">
                                <div class="container bg-white event p-4 mt-4 mb-4">
                                    <h4>{{announcement.title}}</h4>
                                    <h6 class="text-muted">{{announcement.date}}</h6>
                                    <p class="my-3">{{announcement.body}}</p>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#editModal">
                                        Edit
                                    </button>

                                    <!-- edit modal -->
                
                                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <div aria-hidden="true">&times;</div>
                                                    </button>
                                                    <div class="edit-form">
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="titleInput">Title</label>
                                                              <input type="text" class="form-control" id="titleInput" placeholder="Site Done">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="dateInput">Date</label>
                                                              <input type="text" class="form-control" id="dateInput" placeholder="Dec. 3, 2020">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="bodyInput">Body</label>
                                                              <textarea type="text" class="form-control" id="bodyInput" placeholder="The website is now done."></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="container d-flex justify-content-center">
                                                                <button class="btn btn-outline-danger">Delete</button>
                                                                <button class="btn btn-outline-primary">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- modal -->
                                    
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.display === 'testimonial'">
                        <h1 class="toggle-title">Testimonials</h1>
                        <div class="scroll">
                            <ng-container *ngFor="let testimonial of testimonials">
                                <div class="container bg-white event p-4 mt-4 mb-4">
                                    <h4>{{testimonial.title}}</h4>
                                    <h6 class="my-3">{{testimonial.body}}</h6>
                                    <button class="btn btn-outline-success edit edit-testimonial">Edit</button>
                                    <button class="btn btn-outline-danger delete-testimonial delete">Delete</button>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            
        </div>
    </div>
</div>

