<p>Create</p><br>
<p>Create</p><br>
<div class="row">
    <button id="upcomingEvent" type="button" class="createToggle btn btn-primary active" data-toggle="button" aria-pressed="false" autocomplete="off">
        Upcoming event
    </button>
    <button id="announcement" type="button" class="createToggle btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Announcement
    </button>
    <button id="testimonial" type="button" class="createToggle btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Testimonial
    </button>
</div>
<ng-container *ngIf="this.display === 'upcomingEvent'">
    <ng-container *ngFor="let upcomingEvent of upcomingEvents">
        <p>{{upcomingEvent.title}}</p>
    </ng-container>
</ng-container>
<ng-container *ngIf="this.display === 'announcement'">
    <ng-container *ngFor="let announcement of announcements">
        <p>{{announcement.title}}</p>
    </ng-container>
</ng-container>
<ng-container *ngIf="this.display === 'testimonial'">
    <ng-container *ngFor="let testimonial of testimonials">
        <p>{{testimonial.title}}</p>
    </ng-container>
</ng-container>