<div class="bg">
    <div id="createDiv" class="body">
        <div class="container">
            <h1 class="title">Create</h1>
            <div class="row">
                <button autofocus id="upcomingEvent" type="button" class="createToggle toggle" data-toggle="button" aria-pressed="true" autocomplete="off">
                    Upcoming event
                </button>
                <button id="announcement" type="button" class="createToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Announcement
                </button>
                <button id="testimonial" type="button" class="createToggle toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Testimonial
                </button>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form mr-4">
                        <ng-container *ngIf="this.display === 'upcomingEvent'">
                            <div class="container bg-white user-form col">
                                <div id="createForm" class="form">
                                    <div class="row">
                                        <div class="col-md-3">
                                          <label for="monthInputUpcomingEvent">Month</label>
                                          <input type="text" class="form-control" id="monthInputUpcomingEvent" placeholder="Dec">
                                        </div>
                                        <div class="col-md-3">
                                          <label for="dayInputUpcomingEvent">Day</label>
                                          <input type="text" class="form-control" id="dayInputUpcomingEvent" placeholder="11">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="titleInputUpcomingEvent">Title</label>
                                          <input type="text" class="form-control" id="titleInputUpcomingEvent" placeholder="Meeting">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="bodyInputUpcomingEvent">Body</label>
                                          <textarea type="text" class="form-control" id="bodyInputUpcomingEvent" placeholder="Meeting at 12:00 P.M."></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container d-flex justify-content-center">
                                            <button id="createButton" class="button submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.display === 'announcement'">
                            <div class="container bg-white user-form">
                                <div id="createForm" class="form">
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="titleInputAnnouncement">Title</label>
                                          <input type="text" class="form-control" id="titleInputAnnouncement" placeholder="Site Done">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="dateInputAnnouncement">Date</label>
                                          <input type="text" class="form-control" id="dateInputAnnouncement" placeholder="Dec. 3, 2020">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="bodyInputAnnouncement">Body</label>
                                          <textarea type="text" class="form-control" id="bodyInputAnnouncement" placeholder="The website is now done."></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container d-flex justify-content-center">
                                            <button id="createButton" class="button submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.display === 'testimonial'">
                            <div class="container bg-white user-form">
                                <div id="createForm" class="form">
                                    <div class="row">
                                        <div class="col-lg">
                                          <label for="authorInputTestimonial">Author</label>
                                          <input type="text" class="form-control" id="authorInputTestimonial" placeholder="Jonny Smith">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <label for="bodyInputTestimonial">Body</label>
                                            <textarea type="text" class="form-control" id="bodyInputTestimonial" placeholder="Web Dev Carolina is a good club."></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container d-flex justify-content-center">
                                            <button id="createButton" class="button submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ng-container *ngIf="this.display === 'upcomingEvent'">
                        <h1 class="toggle-title">Upcoming Events</h1>
                        <div class="scroll">
                            <ng-container *ngFor="let upcomingEvent of upcomingEvents">
                                <div class="row bg-white event">
                                    <div class="col-lg-3">
                                        <div class="col container mt-3 eventDate">
                                            <p class="day">{{upcomingEvent.day}}</p>
                                            <p class="month">{{upcomingEvent.month}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-auto pt-3 eventInfo">
                                        <h5 class="event-title">{{upcomingEvent.title}}</h5>
                                        <h6>{{upcomingEvent.body}}</h6>

                                        <button type="button" class="btn btn-outline-success" data-toggle="modal" [attr.data-target]="'#editModal' + upcomingEvent._id">
                                            Edit
                                        </button>

                                        <!-- edit modal -->
                    
                                        <div class="modal fade" [id]="'editModal' + upcomingEvent._id" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <div aria-hidden="true">&times;</div>
                                                        </button>
                                                        <div class="edit-form">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                <label for="monthInput">Month</label>
                                                                <input type="text" class="form-control" [id]="'monthInputEditEvent' + upcomingEvent._id" value={{upcomingEvent.month}}>
                                                                </div>
                                                                <div class="col-md-3">
                                                                <label for="dayInput">Day</label>
                                                                <input type="text" class="form-control" [id]="'dayInputEditEvent' + upcomingEvent._id" value={{upcomingEvent.day}}>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg">
                                                                <label for="titleInput">Title</label>
                                                                <input type="text" class="form-control" [id]="'titleInputEditEvent' + upcomingEvent._id" value={{upcomingEvent.title}}>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg">
                                                                <label for="bodyInput">Body</label>
                                                                <textarea type="text" class="form-control" [id]="'bodyInputEditEvent' + upcomingEvent._id" value={{upcomingEvent.body}}></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="container d-flex justify-content-center">
                                                                    <button data-title={{upcomingEvent._id}} class="btn btn-outline-danger delete delete-event" data-dismiss="modal">Delete</button>
                                                                    <button data-title={{upcomingEvent._id}} class="btn btn-outline-primary save save-event" data-dismiss="modal">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- modal -->

                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.display === 'announcement'">
                        <h1 class="toggle-title">Announcements</h1>
                        <div class="scroll">
                            <ng-container *ngFor="let announcement of announcements">
                                <div class="container bg-white event p-4 mt-4 mb-4">
                                    <h4>{{announcement.title}}</h4>
                                    <h6 class="text-muted">{{announcement.date}}</h6>
                                    <p class="my-3">{{announcement.body}}</p>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" [attr.data-target]="'#editModal' + announcement._id">
                                        Edit
                                    </button>

                                    <!-- edit modal -->
                
                                    <div class="modal fade" [id]="'editModal' + announcement._id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <div aria-hidden="true">&times;</div>
                                                    </button>
                                                    <div class="edit-form">
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="titleInput">Title</label>
                                                              <input type="text" class="form-control" id="titleInputEditAnnouncement" value={{announcement.title}}>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="dateInput">Date</label>
                                                              <input type="text" class="form-control" id="dateInputEditAnnouncement" value={{announcement.date}}>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="bodyInput">Body</label>
                                                              <textarea type="text" class="form-control" id="bodyInputEditAnnouncement" value={{announcement.body}}></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="container d-flex justify-content-center">
                                                                <button data-title={{announcement._id}} class="btn btn-outline-danger delete delete-announcement" data-dismiss="modal">Delete</button>
                                                                <button class="btn btn-outline-primary">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- modal -->
                                    
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.display === 'testimonial'">
                        <h1 class="toggle-title">Testimonials</h1>
                        <div class="scroll">
                            <ng-container *ngFor="let testimonial of testimonials">
                                <div class="container bg-white event p-4 mt-4 mb-4">
                                    <h4>{{testimonial.author}}</h4>
                                    <h6 class="my-3">{{testimonial.body}}</h6>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" [attr.data-target]="'#editModal' + testimonial._id">
                                        Edit
                                    </button>

                                     <!-- edit modal -->
                
                                     <div class="modal fade" [id]="'editModal' + testimonial._id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <div aria-hidden="true">&times;</div>
                                                    </button>
                                                    <div class="edit-form">
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="titleInput">Author</label>
                                                              <input type="text" class="form-control" id="authorInputEditTestimonial" value={{testimonial.author}}>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg">
                                                              <label for="dateInput">Body</label>
                                                              <input type="text" class="form-control" id="bodyInputEditTestimonial" value={{testimonial.body}}>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="container d-flex justify-content-center">
                                                                <button data-title={{testimonial._id}} class="btn btn-outline-danger delete delete-testimonial" data-dismiss="modal">Delete</button>
                                                                <button class="btn btn-outline-primary">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- modal -->
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            
        </div>
    </div>
</div>

