<app-home role="banner" aria-labelledby="header"></app-home>
<app-upcoming-announcement role="complementary" aria-labelledby="upcomingevents-announcements"></app-upcoming-announcement>
<app-about-us role="complementary" aria-labelledby="aboutUs"></app-about-us>
<app-testimonial role="complementary" aria-labelledby="testimonials"></app-testimonial>
<app-project role="complementary" aria-labelledby="projects"></app-project>
<app-contact-us role="form" aria-labelledby="contactUs"></app-contact-us>
<app-footer role="contentinfo" aria-labelledby="footer"></app-footer>