<div class="loginSection">
    <div class="signInContain container">
      <img src="assets/images/circle-logo.png" width="150" height="150">
      <h1 class="hero-content" id="blurb">
        Sign In
      </h1>
      <div id="loginForm" class="form">
        <div class="row">
          <input id="usernameInput" class="input" type="text">
        </div>
        <div class="row">
          <input id="passwordInput" class="input" type="text">
        </div>
        <div class="row">
          <button id="submitLogin"></button>
        </div>
      </div>
    </div>
</div> 