.loginSection {
    background-color: #F3F3FA;
}


.signInContain {
    position: relative;
    top: 150px;
    text-align: center;
    box-sizing: border-box;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}