<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<a name="home"></a>
<div class="bg-img">
  <div class="bg-img-content container">
    <img src="assets/images/circle-logo.png" width="150" height="150">
    <h1 class="hero-content">
      A student organization that provides education and real-world 
      experience for website design, development, and implementation.
    </h1>
    <a onclick="window.open('https://heellife.unc.edu/organization/web-dev', '_blank')" target="_blank">
      <button class="hero-content btn contact">
        Learn More
      </button>
    </a>
  </div>
</div> 