body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
    position: relative;
    height: 750px;
    background: rgba(147, 46, 172, 0.7);
}

.bg-img::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media.npr.org/assets/img/2016/06/03/1_blackmencode-reddingrucker_computer-edit_wide-9f1fbcd2af0a9ebdd4a081fe27ac1ea6bfb95256.jpg?s=1400");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.bg-img-content {
    position: relative;
    top: 150px;
    text-align: center;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: auto;
    width: auto;
    top: 65px;
    left: 4%;
}

.hero-content {
    margin: 2em;
    padding-left: 4em;
    padding-right: 4em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.contanner{
    position: absolute;
    margin: auto;
    width: auto;
    top: 100px;
    left: 85%;
}

.title {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(right, #DD579E, #945DA6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    font-family: 'Lato', sans-serif;
    background-color: #5262AD;
    color: white;
    border: none;
    font-size: larger;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 35px;
}

.contact:hover {
    background-color: #2F4193;
    color: white;
}

.contact a:hover {
    text-decoration: none;
    color: white;
}