body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.bg-img {
  /* The image used */
  background-image: url("https://media.npr.org/assets/img/2016/06/03/1_blackmencode-reddingrucker_computer-edit_wide-9f1fbcd2af0a9ebdd4a081fe27ac1ea6bfb95256.jpg?s=1400");

  width: 100%;
  height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: auto;
    width: auto;
    top: 65px;
    left: 4%;
}

.containerino {
    position: absolute;
    margin: auto;
    width: auto;
    top: 400px;
    left:20%;
    right:20%;
  }

.containeritis{
    position: absolute;
    margin: auto;
    width: auto;
    top: 550px;
    left: 45%;
}

.containerman{
    position: absolute;
    margin: auto;
    width: auto;
    top: 265px;
    left: 44%;
}

.contanner{
    position: absolute;
    margin: auto;
    width: auto;
    top: 100px;
    left: 85%;
}

/* The navbar */
.topnav {
  overflow: hidden;
}

.body{
    font-family: 'Lato', sans-serif;
    color: #f2f2f2;
    text-align: center;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: white;
}

a.left {
    position: relative;
    color: black;
    text-decoration: none;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -5px;
  left: 0;
  background: -webkit-linear-gradient(right, #DD579E, #945DA6);
  -webkit-fill-color: transparent;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}
nav div {
    display: inline-block;
}

nav a {
    text-decoration: none;
}

.title {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(right, #DD579E, #945DA6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-style {
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-gutter {
    margin-right: 100px;
    margin-left: 100px;
}

.contact {
    font-family: 'Lato', sans-serif;
    background-color: #5262AD;
    color: white;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.contact:hover {
    background-color: #2F4193;
    color: white;
}

a.left {
    position: relative;
    color: black;
    text-decoration: none;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -5px;
  left: 0;
  background: -webkit-linear-gradient(right, #DD579E, #945DA6);
  -webkit-fill-color: transparent;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}