<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">

<!-- Header -->
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://cdn.vox-cdn.com/thumbor/pJqgOycNBMP1Jcdblj4gThl6thI=/0x0:6240x4160/1200x800/filters:focal(2621x1581:3619x2579)/cdn.vox-cdn.com/uploads/chorus_image/image/63337265/GettyImages_1132532550.0.jpg" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top">
    <div class="w3-left w3-hide-small">
        <a href="#" class="title w3-button"><b>Web Dev Carolina</b></a>
        <a href="#" class="w3-bar-item w3-button body">Abous us</a>
        <a href="#" class="w3-bar-item w3-button body">Testimonials</a>
        <a href="#" class="w3-bar-item w3-button body">Projects</a>
        <a href="#" class="btn contact w3-right" style = "float:right">Contact</a>
      </div>
    <h1 class="w3-xxlarge body"><span class="w3-hide-small w3-text-light-grey">A student organization that provides education and real-world experience for website design, development, and implementation.</span></h1>
    <button class="btn contact justify-middle">Learn More</button>
    </div>
</div>