<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">

<!-- Header -->
<div class="top">
	<div class="navbar-brand">
	<a class="left navbar-style" href="#">Web Dev Carolina</a>
	<a class="left navbar-style" href="#">About us</a>
	<a class="left navbar-style" href="#">Testimonials</a>
	<a class="left navbar-style" href="#">Projects</a>
	<button class="btn contact right">Contact us</button>
	</div>
	<div class="w3-display-middle w3-margin-top w3-center">
		<h1 class="nav-style"><span class="w3-hide-small w3-text-white">A student organization that provides education and real-world experience for website design, development, and implementation</span></h1>
	</div>
</div>
