<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">

<!-- Header -->
<div class="background">
  <div class="container">
    <div class="nav-item nav-style nav-link top-left">
      <h2><a href="#">Web Dev Carolina</a>
      <a href="#">About us</a>
      <a href="#">Testimonials</a>
      <a href="#">Projects</a>
      <a href="#" class="btn contact">Contact us</a></h2>
    </div>
    <div class="container">
        <h1 class="w3-xxlarge body centered"><span class="w3-hide-small w3-text-light-grey">A student organization that provides education and real-world experience for website design, development, and implementation.</span></h1>
        <button class="btn contact centered">Learn More</button>
    </div>
</div>