<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<body>
  
  <div class="container">
    <h1 class="title">Projects</h1>
    <p class="subtitle">Take a look at some of the projects we've been working on for local businesses.</p>
    <button class="btn edu">See educational materials</button>
    
    <div class="row content">
      
      <div class="col-md">
        
        <a href="#">
          <div class="project large proj1">
            <div class="text">
              <span class="name">Project</span>
              <br>
              <span class="desc">Company, Fall 2020</span>
            </div>
          </div>
        </a>
        
        <a href="#">
          <div class="project small proj2">
            <div class="text">
              <span class="name">Project</span>
              <br>
              <span class="desc">Company, Fall 2020</span>
            </div>
          </div>
        </a>
      
      </div>
      
      <div class="col-md">
        
        <a href="#">
          <div class="project small proj3">
            <div class="text">
              <span class="name">Project</span>
              <br>
              <span class="desc">Company, Fall 2020</span>
            </div>
          </div>
        </a>
        
        <a href="#">
          <div class="project large proj4">
            <div class="text">
              <span class="name">Project</span>
              <br>
              <span class="desc">Company, Fall 2020</span>
            </div>
          </div>
        </a>
        
      </div>
      
      <div class="col-md">
        
        <a href="#">
          <div class="project medium proj5">
            <div class="text">
              <span class="name">Project</span>
              <br>
              <span class="desc">Company, Fall 2020</span>
            </div>
          </div>
        </a>
        
        <a href="#">
          <div class="project medium proj6">
            <div class="text">
              <span class="name">Project</span>
              <br>
              <span class="desc">Company, Fall 2020</span>
            </div>
          </div>
        </a>
      
      </div>

    </div>
    
  </div>

</body>