<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div class="container">
    <nav id='white-nav' class="navbar navbar-expand-lg bg-white fixed-top shadow">

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand title" [routerLink]="['/loggedIn/admin/home']">Web Dev Carolina</a>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item nav-style">
                    <a class="left" [routerLink]="['/loggedIn/admin/create']">Create</a>
                </li>
                <li class="nav-item nav-style">
                    <a class="left" [routerLink]="['/loggedIn/admin/inquiries']">Inquiries</a>
                </li>
                <li class="nav-item nav-style">
                    <a class="left" [routerLink]="['/loggedIn/admin/members']">Members</a>
                </li>
                <li class="nav-item nav-style">
                    <a class="left" [routerLink]="['/loggedIn/admin/projects']">Projects</a>
                </li>
            </ul>
        </div>

        <a><button class="btn contact justify-content-end" id="smallContact"><i class="fas fa-sign-out-alt"></i></button></a>
        <a><button class="btn contact justify-content-end" id="largeContact">Logout</button></a>

        <!-- Collapsible Navbar links -->
        <div id="collapsibleNavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item nav-style">
                <a class="left" [routerLink]="['/create']">Create</a>
            </li>
            <li class="nav-item nav-style">
                <a class="left" [routerLink]="['/loggedIn/admin/inquiries']">Inquiries</a>
            </li>
            <li class="nav-item nav-style">
                <a class="left" [routerLink]="['/loggedIn/admin/members']">Members</a>
            </li>
            <li class="nav-item nav-style">
                <a class="left" [routerLink]="['/loggedIn/admin/projects']">Projects</a>
            </li>
        </ul>
        </div>

    </nav>
</div>