* {
  font-family: 'Lato', sans-serif;
}

#carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #5262AD;
}

#carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #5262AD;
}

.testimonial {
  border-radius: 20px;
  border: none;
  box-shadow: 0 10px 15px 5px #e2e2e9;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-body {
  padding: 30px;
}

.card-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  font-size: large;
}

#crd {
  height: 20rem;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

.subtitle {
  margin: 2em;
  font-size: large;
}

.carousel-indicators li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  position: relative;
  top: 50px;
}

.carousel-indicators .active {
  background-color: #BB5AA2;
  border: none;
}

