#carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #5262AD;
}

#carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #5262AD;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#crd {
  height: 20rem;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin: 20px;
}