#carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #5262AD;
}

#carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #5262AD;
}

.testimonial {
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 10px 5px #e2e2e9;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#crd {
  height: 20rem;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

.subtitle {
  margin: 2em;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.carousel-indicators .active {
  background-color: rgba(187, 90, 162, 0.9);
}

