<div class = "container-fluid">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li *ngFor="let testimonial of testimonials; index as i; first as isFirst" data-target="#carouselExampleCaptions" data-slide-to={{i}}>
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card w-50">
            <div class="card-body">
              <img src="assets/images/quote.png">
              <p class="card-text">This is an example testimonial. Here is some text to fill in where someone will put words. I hope this is long enough now.</p>
              <h4 class="card-title">Christian Nell</h4>
            </div>
          </div>
        </div>
        <div *ngFor="let testimonial of testimonials" class="carousel-item">
          <div class="card w-50">
            <div class="card-body">
              <img src="assets/images/quote.png">
              <p class="card-text">{{testimonial.body}}</p>
              <h4 class="card-title">{{testimonial.title}}</h4>
            </div>
          </div>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
</div>